 <!DOCTYPE html>
<html lang="ru">

<head>
	<style type="text/css">

	</style>

	<meta charset="utf-8">

	<title>Тоджиксодиротбанк</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
	<!-- 
	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style> -->

</head>

<body>
	<div class="page">
		<div class="mnu_line container-fluid row">
			<div class="col-sm-2 col-sm-offset-1  col-md-2 col-lg-2 col-md-offset-2 ">
				<img class="logo" src="img/tsb.png" alt="LOGO" /></div>
			<ul class="col-lg-6 col-md-7 col-sm-9">
				<li class="active"><a href="#">Главная</a></li>
				<li><a href="#">Карты</a></li>
				<li><a href="#">Отчёты</a></li>
				<li><a href="#">Эмуляция</a></li>
				<li><a href="#">Вход</a></li>
			</ul>
		</div>

		<!-- End of menu -->
		<div class="container-fluid col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 slider">

		</div>



		<div class="container-fluid col-md-12  col-lg-offset-2  card-wrap" style="background: #fff">
			<div class="col-md-4 col-lg-3 col-sm-3 cards" >
				<img src="img/cards.jpg">
				<div class="num">192842</div>
				<div class="text">Выпущенных карт</div>
			</div>
			<div class="col-md-4 col-lg-3 col-sm-3 cards">
				<img src="img/atm.jpg">
				<div class="num">243</div>
				<div class="text">Банкоматов и POS-терминалов</div>
			</div>
			<div class="col-md-4 col-lg-3 col-sm-3 cards">
				<img src="img/clients.jpg">
				<div class="num">1000000</div>
				<div class="text">Довольных клиентов</div>
			</div>

		</div>
		<div class="footer col-md-12 col-sm-12">&copy; OAO "Тоджиксодиротбанк" 2017</div>

	</div>





	<link rel="stylesheet" href="css/main.min.css">
	<script src="js/scripts.min.js"></script>

</body>

</html> 